:root {
  color-scheme: light dark;
}

ul {
  list-style: none;
}

a {
  color: #007bff;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

body {
  background-color: light-dark(#ffffff, #333333);
  color: light-dark(#333333, #ffffff);
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  color: #333;
}

.container {
  max-width: 800px;
  margin: auto;
  color: light-dark(#333333, #ffffff);
  background: light-dark(#ffffff, #333333);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: light-dark(#2c3e50, #3498db);
  border-bottom: 2px solid #3498db;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

h2 {
  color: #3498db;
  margin-top: 25px;
  border-left: 5px solid #3498db;
  padding-left: 10px;
}

p {
  margin-bottom: 15px;
  text-align: justify;
}

.epilogue {
  margin-top: 40px;
  border-top: 2px solid #ccc;
  padding-top: 20px;
}

@media (max-width: 667px) {
  body {
    padding: 10px;
  }

  ul {
    padding-left: 0;
  }

  .container {
    padding: 20px;
  }
}